<!DOCTYPE html>
<html>
  <!-- Header -->
  <?php include 'header.php'; ?>
   <style type="text/css">
      .blur-filter {
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px);
      }
    </style>
  <body>
    <!-- Start of first page: #home -->
    <div data-role="page" id="home" class="latar">
      <!-- panel content goes here -->
      <?php include 'panel.php'; ?>
      <div data-role="header" data-theme="b">
        <h1></h1>
        <a href="#" data-icon="carat-l" data-rel="back" data-theme="b" data-iconshadow="true" class="ui-btn-left"> <span class="ui-btn-text">Back</span>
        </a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
          <h1>Produk</h1>
          <div class="ui-corner-all ui-body-b custom-corners">
            <div class="ui-bar ui-bar-a">
              <h3><?= $data['produk_name'] ?></h3>
            </div>
            <div class="ui-body ui-body-a">
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="#popupGambar" data-rel="popup" data-position-to="window" data-transition="fade"><img width="95%" class="popphoto" src="<?php echo "img/produk/$data[produk_img]"?>" alt="<?= $data['produk_name']?>"></a>
                  <div data-role="popup" id="popupGambar" data-overlay-theme="b" data-theme="b" data-corners="false">
                    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
                  <img class="popphoto" src="<?php echo "img/produk/$data[produk_img]"?>" style="max-height:512px;" alt="<?= $data['produk_name']?>"></div>
                  <!-- <img src="img/produk/jaket-consina-cold-light-4.jpg"> -->
                </div>
                <div class="ui-block-b">
                  Harga: <?= html_price($data['produk_price']); ?>
                  <hr/>
                  Spesifikasi:
                  <?= $data['produk_spec'] ?>

                  <!-- load Script AJAX -->
                  <script src="js/custom.js"></script>

                  <form action="keranjang-tambah.php" method="GET" id="viaAjax">
                    <input type="hidden" name="url" id="url" value='ajax-addproduct.php'>
                    <input type="hidden" name="namaItem" value="<?= $data['produk_name']?>">
                    <input type="hidden" name="produk_id" value="<?= $data['produk_id']?>">
                    
                    <?php
                    if($data['produk_colour'] != ''){
                    // **** Pecah tag warna tiap koma, contoh merah, kuning, hijau
                    $warna = explode(',', $data['produk_colour'])
                    ?>

                    <select name="selectWarna" data-mini="true" data-inline="true">
                      <option value="" selected="">Warna</option>
                      
                      <?php
                      $i = 0;
                      while ( $i < count($warna)) {
                      echo "<option value=$warna[$i]>$warna[$i]</option>";
                      $i++;
                      }
                      ?>

                    </select>
                    
                    <?php 
                      }  /// *** End kondisi produK_color

                    if($data['produk_size'] != ''){
                    ?>

                    <select name="selectUkuran" data-mini="true" data-inline="true">
                      <option value="S">S</option>
                      <option value="M" selected="">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                    </select>
                    
                    <?php } /// *** End kondisi produK_color ?>
                    <select name="selectJumlah" data-mini="true" data-inline="true">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <input type="submit" class="simpan" value="Tambah" data-theme="b">
                </form>
              </div>
              <hr/>
              <div class="ui-bar ui-bar-a">
              <h3>Feature</h3>
              </div>

              <?= $data['produk_feature']?>

            </div>
          </div>
          <!-- /content -->
          <!-- Footer -->
          <?php include 'footer.php'; ?>
          </div> <!-- /page one -->
          </div><!-- /page halaman -->
        </body>
      </html>